<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Share & Earn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/referEarn.png" style="width: 100%;" />  
    <ion-card-content>
      <button class="rounded-button" disabled>1 Refferal =  &#8377;200 </button>
    </ion-card-content>
  </ion-card>
  <button (click)="share()" class="fixed-bottom">Share and Earn</button>

</ion-content>
